*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

:root {
  --default-font: "Montserrat", sans-serif;
  --bg-color: grey;
  --footer-color: #b9bdcf;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: var(--default-font);
  background-color: var(--bg-color)
}

.root {
  padding: 32px 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 1440px;
  gap: 32px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.profile__img {
  width: 25%;
  border-radius: 16px;
  max-height: auto;
  margin-bottom: 16px;
}

.profile__name {
  font-size: 24px;
  font-weight: 600;
  color: #4e5150;
}

.profile__location {
  font-size: 14px;
  font-weight: 600;
  color: #a9a9a9;
}

.stats {
  display: flex;
  align-self: center;
  gap: 24px;
}

.stats__item {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  padding: 16px;
  border-radius: 16px;
}

.stats__number {
  font-weight: 600;
  font-size: 18px;
  color: #4e5150;
}

.stats__name {
  font-weight: 600;
  font-size: 14px;
  color: #bdbdbd;
}

.gallery {
  display: grid;
  gap: 2vw;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, 1fr);
}

.gallery_img {
  border-radius: 12px;
  display: block;
  width: 100%;
  height: auto;
}

#img-1 {
  grid-area: 1 / 1 / 1 / 1;
}

#img-2 {
  grid-area: 1 / 2 / 1 / 4;
}

#img-3 {
  grid-area: 2 / 1 / 2 / 3;
}

#img-4 {
  grid-area: 2 / 3 / 4 / 4;
}

#img-5 {
  grid-column: 2 / 3;
}

#img-6 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.footer {
  align-self: center;
  margin-top: auto;
  font-family: var(--default-font);
  font-weight: 500;
  font-size: 14;
  color: var(--footer-color);
}

.footer__author {
  color: var(--footer-color);
  font-weight: 700;
}

.footer__author {
  color: var(--footer-color);
}

@media screen and (max-width: 500px) {
  .profile__name {
    font-size: 14px;
  }

  .profile__location {
    font-size: 10px;
  }

  .stats__item {
    padding: 10px;
    width: 50px;
  }

  .stats__number,
  .stats__name {
    font-size: 12px;
  }

  .footer {
    font-size: 12px;
  }
}
